.slider-container{
    position: relative;
    user-select: none;
    width: 1000px;
    font-size: 22px;
    overflow: hidden;
}

.images-slider-container{ 
    position: relative;
    display: flex;
    flex-direction: row;
    width: 3000px;
    height: 750px;
}

.slider-image{
    display: none;
    position: absolute;
    height: 750px;
    width: 1000px;
    z-index: 10;
    transition: 0.5s;
}

.slider-image1{
    background-image: url(/picture.jpg);
}

.slider-image2{
    background-image: url(/2.jpg);
}

.slider-image3{
    background-image: url(/3.jpg);
}

.slider-image4{
    background-image: url(/4.jpg);
}

.slider-image5{
    background-image: url(/5.jpg);
}

.next,.prev,.slider-image.active{
    display: block;
}

.next{
    right: -100%;
}

.prev{
    left: -100%;
}

.item-wrapper{
    display: flex;
    list-style: none;
}

.slider{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    bottom: 0px;
    right: 0px;
    color: white;
    background-color: black;
    z-index: 10;
}

.item{
    margin: 5px;
}

.active{
    color: #D2B183;
}



.left-arrow, .right-arrow{
    width: 30px;
    height: 8px;
}

.right-arrow, .left-arrow, .item{
    cursor: pointer;
}

.right-arrow:hover, .left-arrow:hover, .item:hover{
    transition: 0.5s;
    color: #9d8665;
}

@keyframes left{
    from{
        left:100%;
    }
    to{
        right: 0;
    }
}

@keyframes left{
    from{
        left:0;
    }
    to{
        right: -100%;
    }
}